[defaults]
inventory = ansible/inventory/hosts.ini
roles_path = ansible/roles
interpreter_python = auto_silent
retry_files_enabled = False

[ssh_connection]
pipelining = True
control_path_dir = /tmp/ansible-cp
