apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: datadog-secret
  namespace: datadog
spec:
  encryptedData:
    api-key: Ag...
  template:
    metadata:
      name: datadog-secret
      namespace: datadog
    type: Opaque
